.Footer-Content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

.Footer-Left {
    width: 800px;
    /* background-color: lightpink; */
    text-align: left;
    padding-left: 20px;
}

.SocialMedia-Icons {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
}

.SocialMedia-Icons img{
    width: 25px;
    height: 25px;
}

.Footer-Middle,
.Footer-Right{
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* background-color: lightblue; */
}

.Footer-Middle div,
.Footer-Right div {
    border-radius: 20px;
    background-color: lightgray;
    padding: 12px;
    width: 150px;
    margin-bottom: 10px;
    font-size: 18px;
    transition: all 0.25s ease;
}

.Footer-Middle div:hover,
.Footer-Right div:hover {
    background-color: rgb(123, 123, 123);
    cursor: pointer;
    width: 160px;
}

.Footer-Middle a,
.Footer-Right a {
    color: black;
    transition: all 0.25s ease;
}

.Footer-Middle div:hover a,
.Footer-Right div:hover a{
    color: white;
}

.Footer-Right {
    padding-right: 50px;
}

.Footer-Icon img{
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    opacity: 50%;
}










@media (max-width: 600px) {
    .Footer-Content {
        flex-direction: column;
    }

    .Footer-Left {
        width: 100%;
        text-align: justify;
        padding-left: 0px;
    }

    .Footer-Description {
        padding: 0px 5px 0px 5px;
    }

    .SocialMedia-Icons {
        width: 100%;
    }

    .SocialMedia-Icons img {
        width: 25px;
        height: 25px;
        margin-bottom: 20px;
    }

    .Footer-Middle,
    .Footer-Right {
        width: 100%;
        margin-top: 0px;
    }

    .Footer-Right {
        padding-right: 0px;
    }

}