.Main-Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.Section1 img{
    width: 1400px;
    border-radius: 5px;
}

.Section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}

.Section2L {
    width: 800px;
    font-size: 22px;
    text-align: center;
    margin-right: 50px;
}

.Heading1 {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    background-color: rgba(143, 163, 235, 0.9);
    padding: 15px 0px 15px 0px;
    width: 1300px;
    border-radius: 5px;
}

.Section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 1300px;
    margin-top: 30px;
}

.Section3 img {
    width: 400px;
    height: 400px;
    border: solid;
    border-width: 2px;
    object-position: center;
    border-radius: 5px;
}

.Section4 img{
    margin-top: 30px;
    width: 1400px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}









@media (max-width: 600px) {
    .Main-Section {
        margin-top: 40px;
    }

    .Section1 img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    .Section2 {
        flex-direction: column;
        width: 100%;
    }

    .Section2L {
        width: 100%;
        font-size: 20px;
        margin-right: 0px;
        margin-top: 20px;
    }

    .Section2R img {
        width: 100%;
    }

    .Heading1 {
        font-size: 40px;
        width: 100%;
    }

    .Section3 {
        flex-direction: column;
        width: 100%;
    }

    .Section3 img {
        width: 100%;
        height: 330px;
        margin-bottom: 20px;
    }

    .Section4 img {
        margin: 0px 0px 0px 0px;
        width: 360px;
        height: 110px;
        object-fit: cover;
        object-position: 55%;
    }
}