.Main-Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.Heading1 {
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    /* background-color: lightpink; */
}

hr {
    margin-top: 10px;
    border: none;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(155, 79, 150);
}

.Image-Slideshow1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
    padding: 20px;
    pointer-events: none;

    img {
        display: block;
        width: 100%;
        height: 300px;
        border-radius: .25em;
        transition: all 0.2s ease-in-out;
        pointer-events: auto;
    }

    &:hover img:not(:hover) {
        filter: saturate(.2) opacity(.5);
    }
}

.Timeline {
    position: relative;
    width: 1200px;
    margin-top: 250px;
    /* background-color: lightblue; */
}

.Container {
    padding: 30px 50px;
    position: relative;
    width: 500px;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.Container:nth-child(1) {
    animation-delay: 0s;
}
.Container:nth-child(2) {
    animation-delay: 1s;
}
.Container:nth-child(3) {
    animation-delay: 2s;
}
.Container:nth-child(4) {
    animation-delay: 3s;
}
.Container:nth-child(5) {
    animation-delay: 4s;
}
.Container:nth-child(6) {
    animation-delay: 5s;
}
.Container:nth-child(7) {
    animation-delay: 6s;
}
.Container:nth-child(8) {
    animation-delay: 7s;
}
.Container:nth-child(9) {
    animation-delay: 8s;
}
.Container:nth-child(10) {
    animation-delay: 9s;
}
.Container:nth-child(11) {
    animation-delay: 10s;
}

.Textbox {
    padding: 20px 30px;
    background: lightgray;
    position: relative; 
    border-radius: 6px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Textbox img {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.Left-Container {
    left: 0;
    margin-top: -200px;
}

.Right-Container {
    left: 50%;
    margin-top: -350px;
}

.Timeline::after  {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background:#000000;
    top: -200px;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 12s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.LeftContainer-Arrow {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid lightgray;
    right: -15px;
}

.RightContainer-Arrow {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid lightgray;
    left: -15px;
}



.Main-Section {
    animation: fade-in-translate 1s ease-in-out;
    animation-fill-mode: both;
}

@keyframes fade-in-translate {
    from {
        opacity: 0%;
        transform: translateY(20px);
    }

    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}








@media screen and (max-width:600px){
    .Timeline{
        margin-top: 30px;
        width: 100%;
    }
    .Timeline::after {
        left: 5px;
        top: -10px
    }
    .Container {
        width: 80%;
        padding-left: 20px;
    }
    
    .Left-Container {
        left: 0;
        margin-top: 0px;
    }

    .Right-Container {
        left: 0;
        margin-top: 0px;
    }

    .LeftContainer-Arrow,
    .RightContainer-Arrow {
        border-right: 15px solid lightgrey;
        border-left: 0px;
        left: -15px;         
    }
    
    .Textbox {
        width: 100%;
    }

    .Textbox img {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .Main-Section {
        margin-top: 30px;
    }

    .Heading1 {
        font-size: 50px;
    }

    .Image-Slideshow1 {
        gap: 10px;
        padding: 5px;
    
        img {
            height: 120px;
        }
    }

}