.Main-Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.Heading1 {
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    /* background-color: lightpink; */
}

hr {
    margin-top: 10px;
    border: none;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(155, 79, 150);
}

.QSA-GoFundme,
.Open_Instagram {
    width: 600px;
    padding: 15px;
    border-radius: 20px;
    background-color: lightgray;
    text-align: center;
    font-size: 20px;
    transition: all 0.25s ease;
    margin-top: 20px;
}

.QSA-GoFundme a,
.Open_Instagram a{
    transition: all 0.25s ease;
    color: black;
}

.QSA-GoFundme:hover,
.Open_Instagram:hover {
    background-color: rgb(123, 123, 123);
    cursor: pointer;
    width: 620px;
}

.QSA-GoFundme:hover a
.Open_Instagram:hover a{
    color: white;
}

.Section1,
.Section3,
.Section4,
.Section5 {
    text-align: center;
    font-size: 20px;
    width: 1200px;
    margin-top: 20px;
}

.Section3 {
    margin-top: -180px;
}

.Section3,
.Section4,
.Section5 {
    text-align: left;
}

.Section2 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.Section2L,
.Section2R {
    text-align: left;
    font-size: 20px;
    width: 600px;
    line-height: 28px;
}

.Image-Slideshow2 {
    margin-top: 30px;
    margin-left: 96px;
    display: grid;
    place-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-content: center;
    /* background-color: antiquewhite; */
}

.container img {
    --s: 8px;
    /* control the size of the wave */

    width: calc(8*4*var(--s));
    aspect-ratio: 1;
    object-fit: cover;
    padding: var(--s);
    border: var(--s) solid #0000;
    background: #CD8C52;
    border-radius: calc(3.5*var(--s));
    mask:
        radial-gradient(calc(sqrt(2)*var(--s)), #000 calc(100% - 1px), #0000),
        conic-gradient(#000 0 0) content-box,
        radial-gradient(calc(sqrt(2)*var(--s)), #0000 100%, #000 calc(100% + 0.5px)) var(--s) var(--s) padding-box;
    mask-size: calc(var(--s)*4) calc(var(--s)*4);
}

.container img:nth-child(1) {
    width: calc(8*4*var(--s));
    height: calc(8*4*var(--s));
}

.container img:nth-child(2) {
    translate: calc(-9*var(--s)) calc(2*var(--s));
    width: calc(8*4*var(--s));
    height: calc(7*4*var(--s));
}

.container img:nth-child(3) {
    translate: calc(-10*var(--s)) calc(0*var(--s));
    width: calc(8*4*var(--s));
    height: calc(7*4*var(--s));
}

.container img:nth-child(4) {
    translate: calc(-11*var(--s)) calc(2*var(--s));
    width: calc(8*4*var(--s));
    height: calc(7*4*var(--s));
}

.container img:nth-child(5) {
    translate: calc(-2*var(--s)) calc(-1*var(--s));
    width: calc(10*4*var(--s));
    height: calc(6*4*var(--s));
}

.container img:nth-child(6) {
    translate: calc(-3*var(--s)) calc(-3*var(--s));
    width: calc(8*4*var(--s));
    height: calc(12*4*var(--s));
}

.container img:nth-child(7) {
    translate: calc(-4*var(--s)) calc(-5*var(--s));
    width: calc(6*4*var(--s));
    height: calc(6*4*var(--s));
}

.container img:nth-child(8) {
    translate: calc(-13*var(--s)) calc(-3*var(--s));
    width: calc(8*4*var(--s));
    height: calc(6*4*var(--s));
}

.container img:nth-child(9) {
    translate: calc(0*var(--s)) calc(-26*var(--s));
    width: calc(9*4*var(--s));
    height: calc(6*4*var(--s));
}

.container img:nth-child(10) {
    translate: calc(32*var(--s)) calc(-29*var(--s));
    width: calc(6*4*var(--s));
    height: calc(6*4*var(--s));
}

.container img:nth-child(11) {
    translate: calc(25*var(--s)) calc(-28*var(--s));
    width: calc(8*4*var(--s));
    height: calc(6*4*var(--s));
}







.Image-Slideshow1, 
.Image-Slideshow3,
.Image-Slideshow4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 1050px;

    margin-top: 30px;
}

.Image-Slideshow3 {
    width: 1200px;
}

.card {
    position: relative;

    width: 100%;
    height: 100%;
    overflow: hidden;

    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    display: block;
    width: 100%;
    height: 100%;
}

.card_part,
.card3_part,
.card4_part {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    opacity: 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_part,
.card4_part {
    animation: opaqTransition 12s cubic-bezier(0.3, 0, 0.3, 0.5) infinite;
}

.card_part.card_part-one {
    background-image: url(../Images/GoFundme/Carasoul1/img1.jpg);
    animation-delay: 0s;
}

.card_part.card_part-two {
    background-image: url(../Images/GoFundme/Carasoul1/img2.jpg);
    animation-delay: 4s;
}

.card_part.card_part-three {
    background-image: url(../Images/GoFundme/Carasoul1/img3.jpg);
    animation-delay: 8s;
}

.card4_part.card_part-one {
    background-image: url(../Images/GoFundme/Carasoul3/img1.jpeg);
    animation-delay: 0s;
}

.card4_part.card_part-two {
    background-image: url(../Images/GoFundme/Carasoul3/img2.jpeg);
    animation-delay: 4s;
    background-position: 50% 100%;
}

.card4_part.card_part-three {
    background-image: url(../Images/GoFundme/Carasoul3/img3.png);
    animation-delay: 8s;
}

@keyframes opaqTransition {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    38% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.card3_part {
    animation: opaqTransition3 20s cubic-bezier(0.3, 0, 0.3, 0.5) infinite;
}

.card3_part.card_part-one {
    background-image: url(../Images/GoFundme/Carasoul2/img1.jpg);
    animation-delay: 0s;
}

.card3_part.card_part-two {
    background-image: url(../Images/GoFundme/Carasoul2/img2.jpeg);
    animation-delay: 4s;
}

.card3_part.card_part-three {
    background-image: url(../Images/GoFundme/Carasoul2/img3.jpg);
    animation-delay: 8s;
}

.card3_part.card_part-four {
    background-image: url(../Images/GoFundme/Carasoul2/img4.jpg);
    animation-delay: 12s;
}

.card3_part.card_part-five {
    background-image: url(../Images/GoFundme/Carasoul2/img5.jpeg);
    animation-delay: 16s;
}

@keyframes opaqTransition3 {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    color: #fff;
    font-size: 18px;
}

.navigation-label {
    position: absolute;
    width: 100%;
    margin-top: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 101;
}

.label,
.label_three {
    border: 2px solid #333;
    background: rgba(255, 255, 255, 0.8);
    padding: 6px;
    border-radius: 50%; 
}

.label {
    animation: labelTransition 12s cubic-bezier(0.3, 0, 0.3, 0.5) infinite;
}

.label_three {
    animation: label3Transition 20s cubic-bezier(0.3, 0, 0.3, 0.5) infinite;
}

.label1 {
    animation-delay: 0s;
}

.label2 {
    animation-delay: 4s;
}

.label3 {
    animation-delay: 8s;
}

.label4 {
    animation-delay: 12s;
}

.label5 {
    animation-delay: 16s;
}

@keyframes labelTransition {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }

    1% {
        background-color: black;
    }

    33% {
        background-color: black;
    }

    35% {
        background-color: rgba(255, 255, 255, 0.8);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes label3Transition {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }

    1% {
        background-color: black;
    }

    20% {
        background-color: black;
    }

    25% {
        background-color: rgba(255, 255, 255, 0.8);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.Sponser-Poster img{
    margin-top: 0px;
    width: 1400px;
}

.Main-Section {
    animation: fade-in-translate 1s ease-in-out;
    animation-fill-mode: both;
}

@keyframes fade-in-translate {
    from {
        opacity: 0%;
        transform: translateY(20px);
    }

    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}













@media (max-width: 600px) {
    .Main-Section {
        margin-top: 40px;
    }

    .Heading1 {
        font-size: 50px;
    }

    .QSA-GoFundme,
    .Open_Instagram {
        width: 300px;
        margin-top: 20px;
    }

    .QSA-GoFundme:hover,
    .Open_Instagram:hover {
        width: 300px;
    }

    .Section1,
    .Section3,
    .Section4,
    .Section5 {
        width: 100%;
    }

    .Section3 {
        margin-top: -50px;
    }

    .Section3,
    .Section4,
    .Section5 {
        text-align: center;
    }

    .Section2 {
        flex-direction: column;
        width: 100%;
    }

    .Section2L,
    .Section2R {
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

    .Image-Slideshow2 {
        margin-top: 30px;
        margin-left: 0px;
        display: grid;
        place-content: center;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        place-content: center;
        padding-left: 30px;
    }

    .container img {
        --s: 2.5px;
    }

    .Image-Slideshow1,
    .Image-Slideshow3,
    .Image-Slideshow4 {
        height: 275px;
        width: 100%;
        margin-top: 30px;
    }

    .Image-Slideshow3 {
        width: 100%;
    }

    .navigation-label {
        margin-top: 230px;
        gap: 8px;
    }

    .Sponser-Poster img {
        margin-top: 40px;
        width: 360px;
        height: 90px;
        object-fit: cover;
        /* border: #000 solid 2px; */
    }
}